@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

:root{
  --green:rgb(19, 121, 112);
  --dark-color:#219150;
  --blac:#444;
  --light-color:#666;
  --border:.1rem solid rgba(0,0,0,.1);
  --border-hover:.1rem solid var(--black);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --swiper-pagination-bullet-color:red
  --swiper-pagination-color: #FFBA08;
  --swiper-pagination-bullet-inactive-color: #999999;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-horizontal-gap: 6px
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}
html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}
.swiper-pagination-bullet {
    
     padding: 0.9rem !important;
     margin: 0 1rem !important;
    background-color: #D4AF37 !important;
}
.swiper-pagination-bullet:active {
    padding: 0.9rem !important;
    margin: 0 1rem !important;
   background-color: #abbdbc !important;
}
.swiper-pagination {
margin: -1.4rem !important;
}
